{{- $url := .Get "url" | default (.Get 0) }}
{{- $title := .Get "title" | default $url }}
{{- $description := .Get "description" | default "" }}
{{- $icon := .Get "icon" | default "" }}
<a href="{{ $url }}" class="bookmark-card" target="_blank" rel="noopener">
  {{- if $icon }}
    <img src="{{ $icon }}" alt="" class="bookmark-card-icon" />
  {{- end }}
  <div class="bookmark-card-content">
    <div class="bookmark-card-title">{{ $title }}</div>
    {{- if $description }}
      <div class="bookmark-card-desc">{{ $description }}</div>
    {{- end }}
    <div class="bookmark-card-url">{{ $url }}</div>
  </div>
</a>
